/*Center the h1 element and center the h1 text*/
h1 {
    width: 50%;
    padding: 10px;
    border: 2px solid cornflowerblue;
    margin: auto;
    text-align: center;
}
/*Applies text indent to two specific paragraphs: class name "eat-drink", and class name "visit"*/
p .eat-drink, .visit{
    text-indent: 10%;
}