/*This is my style sheet*/
 h1 {
    text-align:center;
    color: green;
    text-transform: uppercase;
 }
 h2 {
    background-color: bisque;
    font-family: Papyrus, "Brush Script MT", Monaco;
 }
 h3 {
    background-color: rgb(181, 203, 249);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, ;
 }
 p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 50px;
    word-spacing: 2px;
    background-color: honeydew;
 }